.app {
  text-align: center;
}

.desks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: #e6eef0;
}

.desk {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  background-color: #2e48f2;
}

.desk.booked {
  background-color: #f8d7da;
  color: #240306;
}

.booking,
.dashboard {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.booking label,
.booking select,
.booking input {
  display: block;
  margin: 10px 2px;
  align-items: center;
  width: 100%;
}
